
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'images/icons/favicon-32x32.png' %}" type="image/png" />
  <title>J wear</title>
<style type="text/css">

</style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'rama/css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/linericon/style.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/owl-carousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/lightbox/simpleLightbox.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/nice-select/css/nice-select.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/animate-css/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/vendors/jquery-ui/jquery-ui.css' %}" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'rama/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'rama/css/responsive.css' %}" />
     <link rel="stylesheet" href="{% static 'rama/css/cart.css' %}" />
    <script type="text/javascript" src="{% static 'rama/js/cart.js' %}"></script>
</head>
