
{% load static %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'rama/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'rama/js/popper.js' %}"></script>
  <script src="{% static 'rama/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'rama/js/stellar.js' %}"></script>
  <script src="{% static 'rama/vendors/lightbox/simpleLightbox.min.js' %}"></script>
  <script src="{% static 'rama/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'rama/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'rama/vendors/isotope/isotope-min.js' %}"></script>
  <script src="{% static 'rama/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'rama/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'rama/vendors/counter-up/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'rama/vendors/counter-up/jquery.counterup.js' %}"></script>
  <script src="{% static 'rama/js/mail-script.js' %}"></script>
  <script src="{% static 'rama/js/theme.js' %}"></script>